/*styles.css*/

/*Font-family for the entire page*/

* {
    font-family: 'Roboto', 'Times New Roman', sans-serif;
}

/*Background-color for heading and footer*/

body {
    background-color: #642470;
    color: #F9FAF8;
}

.header {
    font-size: 24px;
}

.header-link {
    font-size: 18px;
    color: #F9FAF8;
    margin-left: 250px;
}

footer {
    background-color: #642470;
    color: #F9FAF8;
}

#welcome {
    font-size: 40px;
    font-weight: 900;
}

#intro {
    font-size: 20px;
}

/*format projects*/

#projects {
    background-color: #a3349e;
    text-align: center;
    font-size: 30px;
}