/*styles.css*/

/*Font-family for the entire page*/

* {
    font-family: 'Roboto', 'Times New Roman', sans-serif;
}

/*Background-color for heading and footer*/

#heading {
    background-color: #1F2937;
}

footer {
    background-color: #1F2937;
}